@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Adorn-me</h1>
</div>
    @* <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                @{
                    foreach(Piercing aro in @ViewBag.Aros){
                            <div class="col">
                        <div class="card">
                        <img src="@aro.Foto" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@aro.Nombre </h5>
                        </div>
                        </div>
                    </div>
                    }
                }
        </div>
    </div>
    <div class="carousel-item">
      <div class="row row-cols-1 row-cols-md-3 g-4">
                @{
                    foreach(Piercing aro in @ViewBag.Aros){
                            <div class="col">
                        <div class="card">
                        <img src="@aro.Foto" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@aro.Nombre </h5>
                        </div>
                        </div>
                    </div>
                    }
                }
        </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button> *@

<h3>Piercings</h3>
<div class="container text-center my-3">
    
    <div class="row mx-auto my-auto justify-content-center">
        <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    
                    @{
                    foreach(Piercing aro in @ViewBag.Aros){
                        <div class="carousel-item">
                            <div class="col-md-3"></div>
                                <div class="card">
                                    <div class="card2">
                                        <img src="@aro.Foto" class="img-fluid">
                                        <div class="card-img-overlay">@aro.Nombre</div>
                                    </div>
                                </div>
                            </div>
                        
                        }
                        }
                       
                        
                    
                </div>
            </div>
            <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </a>
            <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>
    
</div>
</div>
