@{
    ViewData["Title"] = @ViewBag.UnLugar.Nombre;
}
    
<div class="text-center">
    <h1>Nuestras sedes</h1>

    <div class="card-contenedores">
        <div class="card-contenedor">
            <div  style="width: 18rem;">
                <div class="card-body-mio">
                    <h3>@ViewBag.UnLugar.Nombre</h3>
                    <h5>Dirección: @ViewBag.UnLugar.Direccion</h5>
                    <h5>Horarios: @ViewBag.UnLugar.Horarios</h5>
                    <h5>Telefono: @ViewBag.UnLugar.Telefono</h5>
                    <img src="@ViewBag.UnLugar.Foto" class="d-block w-100" alt="...">
                    <!-- MAPA -->

                    <a class="boton" href='@Url.Action("Personal", "Home", new {id = @ViewBag.UnLugar.IdNegocio})'> Ver personal</a>

                </div>
            </div>
        </div>
    </div>
    
</div>
